# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    
    - CONDA_NPY=111  CONDA_PY=27
    - CONDA_NPY=112  CONDA_PY=27
    - CONDA_NPY=111  CONDA_PY=35
    - CONDA_NPY=112  CONDA_PY=35
    - CONDA_NPY=111  CONDA_PY=36
    - CONDA_NPY=112  CONDA_PY=36
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "ps/CeCNZlHXZ48mVgs6tOQc0qTSsMW/YKdFn7VoTwus/VKLmVIxTSHNp4BuBtOFvzw5L7isxAd3csasBsKQDvWgUAphDxAdRp7YuukTsZ2z9Im4fEt5AVY3xqPrbWUAkm8nwuat9EH6BDSbM+q42OOta37KeesSOkhG0enpj8Q5m5/Pjm733ug5Ec6jxR845OyHozQVmb/j0iMKVkEGP+n6/0Q9t9EjffLx+VgezM9KPPFEq4EBCLsqTLJOhnwSZ3k6hp5X6ep3AULApsvNywSx2qRw6uN4+FjcykU714DYiEYpF89qBoUuJ/xiwN8aGIXtd/t8u+6IKH1ZiglCzIyUxI1yuR5t8yAxLz5vW9rwTMVG2H2UY/OkwfQjdcToBui/SHn1VhkFJZpw3ehG104LjzoNikxoxqZnCmc1hUh7HBK6yCarAFxns7cE3aIoF1UgWH+jTVY0j16FRi0f24UbB+4ACp6Lblc/BZM02QrapwFZig7jw5n7p+DPwBv50QiLs1WQ60FBo8EF5CnMpSA3vjG49UBjG6ebK1MREcX1FN09VxhMaSFuY8MF61p9psobXDgV6YyG/0oRBjJ62aA62Nx79TeV4UvkZfdk30YAcf6nGkuAJiFDUd7vduRiGONlkYblHhOUGyplyHqfdR+BcpY+CzRAY0HsSKCaePJE="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-build-setup-feedstock/master/recipe/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root
      conda config --remove channels defaults
      conda config --add channels defaults
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

  - upload_or_check_non_existence ./recipe conda-forge --channel=main
